header {
	background-color: #9b5f23;
	color: #e29612;
	padding: 1em;
	text-align: center;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	margin-right: 20px;
}

nav a {
	color: #fff;
	text-decoration: none;
}

.hero {
	background-image: linear-gradient(to bottom, #3e3939, #555);
	color: #fff;
	padding: 2em;
	text-align: center;
}

.menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu li {
	margin-bottom: 20px;
}

.menu img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 30%;
}

.about, .contact {
	padding: 2em;
}

footer {
	background-color: #bb780d;
	color: #fff;
	padding: 1em;
	text-align: center;
}

	.menu video {
		width: 50px;
		height: 50px;
		object-fit: cover;
		border-radius: 30%;
}